<div class="content-width">
  <h4>スケジュール詳細</h4>
  <div class="task_table">
    <table>
      <tr>
        <th>タイトル</th>
        <td><%= @post.title %></td>
      </tr>
      <tr>
        <th>開始日</th>
        <td><%= @post.start_day %></td>
      </tr>
      <tr>
        <th>完了予定日</th>
        <td><%= @post.finish_day %></td>
      </tr>
      <tr>
        <th>終日</th>
        <td><%= @post.all_day %></td>
      </tr>
      <tr>
        <th>スケジュールメモ</th>
        <td><%= @post.schedule_memo %></td>
      </tr>
    </table>
  </div>
  <ul class="link-list">
    <li><%= link_to("スケジュール一覧に戻る", "/posts") %></li>
    <li><%= link_to("スケジュールを編集する", "/posts/#{@post.id}/edit") %></li>
    <li><%= link_to("スケジュールを削除する", "/posts/#{@post.id}/destroy", method: :post, data: {confirm: "本当に削除しますか？"}) %></li>
  </ul>
</div>